################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs
/Nng/Debug
/Nng/x64
/NngTests/obj
/NngTests/bin/x64/Debug
/x64
